*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #3a4965;
    width: 1197px;
    height: 660px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top: 30px;
    padding-left: 27px;
}

table {
    font-family: Arimo, sans-serif;
    text-align:center;
    border-collapse: collapse;
    width: 1148px;
    height: 616px;
}
/*---------------AWERSOME--ICONS--PROPERTIES-------------------*/
i{
    color:  #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
}
/*---------------PRICING-PLAN-----------------------------------*/
.pricing-plan p:nth-child(1){
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.pricing-plan p:nth-child(2){
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.style-for-all .pricing-plan{
    background-color: #fafafa;
    width: 198px;
}/*---------------PRICING-PLAN-END-------------------------------*/

.style-for-all th{
    width: 157px;
    height: 80px;
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 32px;
}
/*--------------------COLORED--COLLUMN------------------------*/
.standart span:nth-of-type(3), .ultimate span:nth-of-type(3),.premium span:nth-of-type(3){
    position: relative;
    top:10px;
    right: -5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.standart span:nth-of-type(2), .ultimate span:nth-of-type(2),.premium span:nth-of-type(2){
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.standart span:nth-of-type(1), .ultimate span:nth-of-type(1),.premium span:nth-of-type(1){
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    position: relative;
    top:12px;
}
.standart,.ultimate,.premium{
    width: 198px;
    height: 148px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 18px;
}
.style-for-all .standart{
    background-color: #89c331;
}
.style-for-all .ultimate{
    background-color:  #f04a56;

}
.style-for-all .premium{
    background-color:  #20807c;
}/*--------------------COLORED--COLLUMN--END--------------------*/

.style-for-all{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    border-collapse: collapse;
}
/*--------------------BUTTON PROPERTY-----------------------*/

.black-btn{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 144px;
    height: 31px;
    border-radius: 5px;
    padding-top: 10px;
    background-color:  #414141;
    box-shadow: 0 -5px rgb(52,52,52) inset;
    top:27px;
}
.style-for-all a{
    display: inline-block;
    position: relative;
    font-family: Arimo, sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration:none;
    text-transform: uppercase;
}/*--------------------BUTTON PROPERTY--END--------------------*/

.style-for-all td:nth-child(3){
    background-color:  #e3e3e3;
}

.style-for-all td:nth-child(5){
    background-color:  #e3e3e3;
}
.style-for-all td:nth-child(7){
    background-color:  #e3e3e3;
}
.style-for-all td,th:nth-child(even) {
    background-color:  #f2f2f2;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
th:nth-of-type(2n+1){
    background-color:  #e3e3e3;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.ver-center p {
    position: relative;
    top: 36px;
}